[submodule "snappy"]
	path = src/github.com/golang/snappy
	url = https://github.com/golang/snappy
[submodule "go.uuid"]
	path = src/github.com/satori/go.uuid
	url = https://github.com/satori/go.uuid
[submodule "bloom"]
	path = src/github.com/willf/bloom
	url = https://github.com/willf/bloom
[submodule "bitset"]
    path = src/github.com/willf/bitset
    url = https://github.com/willf/bitset
[submodule "murmur3"]
    path = src/github.com/spaolacci/murmur3
    url = https://github.com/spaolacci/murmur3
[submodule "goleveldb"]
	path = src/github.com/syndtr/goleveldb
	url = https://github.com/syndtr/goleveldb
